
:root{

  --main-background-color: rgb(66, 66, 66);

  --nav-text-color: rgb(241, 240, 219);
  
  --card-background-color: rgb(13, 50, 23);
  --main-text-color: lightgray;
}
body{
  height: 100%;
  background-color: var(--main-background-color);
}
*{
  color: var(--main-text-color)
}
.main-content{
  padding: 50px;
  background-color: var(--main-background-color);
}

a{
  text-decoration: none;
  color: var(--card-text-color);
}

.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--card-background-color);
  color: var(--nav-text-color);
}
.links{
  display: flex;
  align-items: center;
}
.links > *{
  margin: 0 15px;
  font-weight: normal;
}
.links a{
  color: var(--nav-text-color)
}


.project{
  background-color: var(--card-background-color);
  color: var(--main-text-color);
  margin: 100px 0;
  border-radius: 5px;
  display: flex;
  width: 90vw;

}
.project-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.project-top a{
  font-weight: bold;
}


.fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 500ms, opacity 500ms;
}
.fadeIn {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 1000ms;
}

.selected-link{
  border-bottom: 3px yellowgreen solid;
}
.projects-page{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-description{
  padding: 15px 30px;
  box-shadow: 0px 0px 5px 5px var(--card-background-color);
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.project-img{
  display: flex;
  height: 50vh;
  flex-grow: 5;
  
  background-size: cover;
  background-position: left;  
}
.projectLink{
  width: 100px;
  text-align: center;
  font-weight: bold;
  background-color: rgb(0, 252, 84);
  color: black;
  border-radius: 5px;
  padding: 5px 10px;
}


.button:hover{
  filter: brightness(90%);
}

.project-description div *{
  width: 200px;
}

.project-title{
  font-size: 48px;
}




img.fadeIn{
  z-index: -2;
}


/* parallax background css */
.parallax-background-container{
  position: relative;
  display: flex;
  overflow: hidden;
  max-height: 600px;
}
.parallax-background{
  position: absolute;
  width: 100%;
  z-index: -1;

}
.parallax-background img{
  display: flex;
  width: 100%;
  min-height: 500px;
  object-fit: cover;
  object-position: center
}


@media(max-width: 800px) {
  .project{
    display: flex;
    flex-direction: column;
  }
  
}